/* MFP
---------------------------*/
.white-popup {
  background: #FFF;
  position: relative;
  padding: 40px 70px 40px;
  width: 96%;
  max-width: 548px;
  margin: 20px auto;
  -ms-border-radius: 13px;
  border-radius: 13px;
  
  h1, .h1, h2, .h2 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 15px;
    @include fz(28);
    text-align: center;
  }
  input.big, .btn.big {
    height: 56px;
  }
  .btn.big {
    line-height: 56px;
  }
  input.big {
    @include fz(16);
  }
  .field {
    padding-bottom: 25px;
  }
}
.popup-aftertitle {
  @include fz(16);
  margin-bottom: 25px;
}

.mfp-bg {
	background: #000;
}

button.mfp-close {
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  background: none;
  border: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  opacity: 1;

  &:active {
    top: 20px;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-transition: transform .35s, background .35s;
    -moz-transition: transform .35s, background .35s;
    -ms-transition: transform .35s, background .35s;
    -o-transition: transform .35s, background .35s;
    transition: transform .35s, background .45s;
  }
  &:before {
    @include transform(rotate(45deg));
  }
  &:after {
    @include transform(rotate(-45deg));
  }
  &:hover {
    &:before, &:after {
      background: $primary;
    }
    &:before {
      @include transform(rotate(135deg));
    }
    &:after {
      @include transform(rotate(-135deg));
    }
  }
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  width: 24px;
  background: #FFF;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 27px !important;
  right: -12px;

  &:before, &:after {
    left: 5px;
    right: 5px;
  }
}



/* MFP Animations
---------------------------*/
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all .3s .45s ease-in-out; 
  -moz-transition: all .3s .45s ease-in-out;
  -ms-transition: all .3s .45s ease-in-out;
  -o-transition: all .3s .45s ease-in-out; 
  transition: all .3s .45s ease-in-out; 
  -webkit-transform: translateY(-200px); 
  -moz-transform: translateY(-200px); 
  -ms-transform: translateY(-200px); 
  -o-transform: translateY(-200px); 
  transform: translateY(-200px);
}
.not_delay .my-mfp-zoom-in .zoom-anim-dialog,
.my-mfp-zoom-in .zoom-anim-dialog.not_delay {
  animation-delay: 0s !important;
   -webkit-transition: all .3s 0s ease-in-out; 
  -moz-transition: all .3s 0s ease-in-out; 
  -o-transition: all .3s 0s ease-in-out;
  -ms-transition: all .3s 0s ease-in-out;
  transition: all .3s 0s ease-in-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0px); 
  -moz-transform: translateY(0px); 
  -ms-transform: translateY(0px); 
  -o-transform: translateY(0px); 
  transform: translateY(0px);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: translateY(200px); 
  -moz-transform: translateY(200px); 
  -ms-transform: translateY(200px); 
  -o-transform: translateY(200px); 
  transform: translateY(200px);
  opacity: 0;
}
/* Dark overlay, start state */
.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease; 
  -moz-transition: opacity 0.3s ease; 
  -o-transition: opacity 0.3s ease; 
  transition: opacity 0.3s ease;
}
/* animate in */
.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* animate out */
.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-container {
  overflow-y: auto;
}


.popup-photo {
  max-width: 900px;
  border-radius: 0;
  padding: 0;

  &-imgs {
    flex: 0 0 66.667%;
    max-width: 66.667%;
  }
  &-content {
    flex: 0 0 33.334%;
    max-width: 33.334%;
    min-height: 600px;
    padding-bottom: 120px;
    position: relative;
    border-left: 1px solid $border;
  }
  &-nav-link {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 60px;
    height: 60px;
    padding: 5px;
    text-align: center;
    font-size: 0;
    z-index: 9;

    svg.sprite {
      display: inline-block;
      vertical-align: middle;
      // fill: #FFF;
      stroke: #FFF
    }
    &:hover {
      svg.sprite {
        stroke: $primary;
      }
    }
  }
  &-prev {
    left: -60px;
  }
  &-next {
    right: -60px;
  }

  &-head {
    padding: 15px;
    border-bottom: 1px solid $border;

    &-img {
      flex: 0 0 58px;
      max-width: 58px;
      margin-right: 15px;
    }
    &-date {
      color: $gray;
      @include fz(13);
    }
    &-author {
      color: #000;
      @include fz(16);
    }
  }
  &-desc {
    padding: 15px;
  }
  &-title {
    font-weight: 700;
    margin-bottom: 10px;
    @include fz(18);

    a {
      color: #000;

      &:hover {
        color: $primary;
      }
    }
  }
  &-params {
    color: $gray;
  }
  &-bottom {
    position: absolute;
    left: 0;
    bottom: 63px;
    right: 0;
    background: #FFF;
  }
  &-price {
    position: absolute;
    left: 15px;
    bottom: 100%;
    margin-bottom: 12px;
    background: #FFF;
    font-weight: 700;
    @include fz(20);
  }
  &-adrs {
    padding: 19px 15px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    color: $gray;
    cursor: pointer;

    .svg-pin-adr {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      position: relative;
      top: -1px;
    }
  }
  &-phone {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background: $primary;
    cursor: pointer;
    @include fz(21);
    color: #FFF;
    text-align: center;
    padding: 17px 10px;

    a {
      display: block;
      color: #FFF;
      margin: -17px -10px;
      padding: 17px 10px;
    }
  }
  button.mfp-close {
    top: -12px;
    right: -60px;
    width: 60px;
    height: 60px;
    min-width: 60px;

    &:before, &:after {
      background: #FFF;
      height: 2px;
      margin-top: -1px;
      left: 12px;
      right: 12px;
    }
  }
}
.svg-pin-adr {
  width: 14px;
  height: 17px;
}
.slick-popup {
  &-flex {
    height: 600px;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 600px;
    }
  }
  .slick-dots {
    bottom: 25px;

    button {
      background: #C4C4C4;
      width: 8px;
      height: 8px;
      border: 0;

      &:hover {
        background: $primary;
      }
    }
    .slick-active {
      margin-left: 5px;
      margin-right: 5px;

      button {
        background: $primary;
        border: 0;
        box-shadow: 0px 0px 0px 3px $primary;
      }
    }
  }
  .slick-arrow {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    .slick-arrow {
      opacity: 0.6;
    }
  }
}