// Colors & BG's ---
$bgc: #FFF;
$font: #333;
$font_2: #181818;
$font_light: #7e7e7e;
$light: rgba(#000,.4);
$titles: #000;

$primary: #0ea6fc;
$primary_hover: rgba($primary, 0.8);
$primary_active: #366EB3;
$secondary: #F47A2F;
$secondary_hover: rgba($secondary,0.8);
$secondary_active: #D26F32;
$gray: rgba(0, 0, 0, 0.5);
$gray_hover: #77a45d;

$red: #E80A0A;
$red_hover: darken($red, 10%);
$yellow: #ffcf28;
$yellow_hover:  darken($yellow, 15%);

$dark: #3c3c3c;

$link: $primary;
$link_hover: $primary_hover;
$link_active: $primary_active;
$link_border: $primary_hover;
$link_border_hover: transparent;

$border: #e3e3e3;
$border_light: #e5e5e5;
$devider: #d6d6d6;

$valid: #25a670;

$input_border: #d7d7d7;
$input_hover: darken($input_border,15%);
$input_focus: $primary;
$input_color: #7a7d87;
$input_shadow: #f6f6f6;
$jq_border: #e8e8e8;
$jq_hover: darken($jq_border,15%);
$jq_focus: $secondary;


// Layouts
$inner: 1190px;
$gutter: 15px;
$col_gutter: 10px;
$block_margin: 0 0 30px;


// Typography ---
$fontsize: 14;
$weight: 400;
$basefont: 'Open Sans';
$georgia: 'Georgia';
$lh: 1.42;
$th: (23/14);
$paragraph_margin: 0px 0px 20px;

// headings
$headings_font_family: $basefont;
$headings_margin: 22px 0px 18px;
$headings_font_weight: 700;
$headings_color: $titles;
$headings_text_transform: none;
$h1: 30;
$h2: 24;
$h3: 20;
$h4: 18;
$h5: 16;
$h6: $fontsize;

$block_heading_font_size: 24;
$block_heading_font_weight: 700;

// article typography
$article_font_size: 14;
$article_line_height: (23/$article_font_size);
$article_paragraph_margin: $paragraph_margin;
$article_img_margin: $paragraph_margin;
$article_font_weight: 400;


// Buttons & Inputs ---
$btn_font_size: 14;
$btn_font_weight: 400;
$btn_text_transform: none;
$btn_height: 40px;
$btn_height_big: 52px;
$btn_height_mini: 32px;
$btn_paddings: 0px 30px;
$btn_border_width: 0;
$btn_border_color: $primary;
$btn_border_radius: 3px;
$btn_color: #FFF;

$input_height: $btn_height;
$input_paddings: 0px 15px;
$input_border_radius: 3px;
$input_bg: #FFF;

$checkbox_size: 16px;
$checkbox_border_radius: 3px;
$radio_size: $checkbox_size;


// Breadcrumbs ---
$bread_font_size: 14;
$bread_bg: #FFF;
$bread_color: rgba($primary,.7);
$bread_link_color: $primary;
$bread_paddings: 14px 0px;
$bread_margin: 0px auto 25px;


// Pgn
$pgn_color: rgba(#000,.5);
$pgn_font_weight: 400;
$pgn_margin: 8px;
$pgn_padding: 0px 5px;
$pgn_height: 48px;
$pgn_bg: #FFF;
$pgn_border_radius: 3px;
$pgn_border: 1px solid $border;
$pgn_border_active: $primary;
$pgn_bg_active: #77a45d;


// Other ---
$footer_bg: #2c2c2c;
$footer_paddings: 54px 0px;
$footer_color: #7a7a7a;
$footer_link_color: #7a7a7a; 

$sticker_bg: $primary;
$sticker_color: #FFF;
$sticker_height: 28px;
$sticker_height_mini: 25px;
$sticker_paddings: 0px 13px;
$sticker_font_size: 14;
$sticker_font_weight: 400;
$sticker_text_transform: none;
$sticker_border_radius: 3px;
$sticker_font: $georgia;
$sticker_font_style: italic;

$shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
$shadow_focus: 0px 0px 30px -3px rgba(60, 60, 60, 0.35);
$shadow_light: 0px 0px 8px -1px rgba(85, 85, 85, 0.1);;
$beizer: cubic-bezier(.3,.53,.38,.73);

$trn_d: .4s; //transition-delay


@mixin fz($f_size) {
	font-size: $f_size + px;
	font-size: $f_size/16 + rem;
}

@mixin ls($lsp) {
	letter-spacing: $lsp/1000 + em;
}

@mixin box-shadow($sx, $sy, $ss, $sblur, $scolor) {
	-webkit-box-shadow: $sx $sy $ss $sblur $scolor;
	-moz-box-shadow: $sx $sy $ss $sblur $scolor;
	-ms-box-shadow: $sx $sy $ss $sblur $scolor;
	-o-box-shadow: $sx $sy $ss $sblur $scolor;
	box-shadow: $sx $sy $ss $sblur $scolor;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-khtml-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($tspeed) {
	-webkit-transition: $tspeed;
	-moz-transition: $tspeed;
	-khtml-transition: $tspeed;
	-ms-transition: $tspeed;
	-o-transition: $tspeed;
	transition: $tspeed;
}

@mixin transform($tsf) {
	-webkit-transform: $tsf;
	-moz-transform: $tsf;
	-khtml-transform: $tsf;
	-ms-transform: $tsf;
	-o-transform: $tsf;
	transform: $tsf;
}
@mixin flb($flb) {
	width: $flb;
	-webkit-flex: 0 1 $flb;
	flex: 0 1 $flb;
	-ms-flex-preferred-size: $flb;
	-webkit-flex-basis: $flb;
	-ms-flex-basis: $flb;
	flex-basis: $flb;
	min-width: $flb;
}
@mixin flx($flx) {
	-webkit-box-flex: $flx;
	-webkit-flex: 0 0 $flx;
	-ms-flex: 0 0 $flx;
	flex: 0 0 $flx;
	max-width: $flx;
}
@mixin flxfull($f) {
	-webkit-box-flex: $f;
	-webkit-flex: $f;
	-ms-flex: $f;
	flex: $f;
}

html {
	font-family: $basefont, sans-serif;
	line-height: 1.42;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
	height: 100%;
	color: $font;
	font-family: $basefont, sans-serif;
	font-weight: $weight;
	@include fz($fontsize);
	line-height: $lh;
	background: $bgc;
}
#wrapper {
	@extend %flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: $inner;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	min-height: 100%;
}
#middle {
	-webkit-flex: 1 0 auto;
	-moz-flex: 1 0 auto;
	-o-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	padding-bottom: 40px;
}
#footer {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-o-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
}
.inner {
	max-width: $inner;
	padding-left: $gutter;
	padding-right: $gutter;
	margin-left: auto;
	margin-right: auto;
}

.preloader {
	position: fixed;
	background: #FFF;
	z-index: 999;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: transform .35s, opacity .35s;
	-ms-transition: transform .35s, opacity .35s;
	transition: transform .35s, opacity .35s;

	&-logo {
		margin-bottom: 15px;
	}
	&.loaded {
		-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
		transform: translateY(50%);
		opacity: 0;
	}
}

.content {
	padding: 0;
	max-width: 100%;
	padding-top: 0px;
	padding-bottom: 20px;
}
.container {
	width: 100%;
	max-width: 100%;
	@extend .clearfix;

	&.front {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}
}

.inner:before,
.inner:after,
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.row-mini:before,
.row-mini:after {
	content: "";
	display: table;
}
.inner:after,
.clearfix:after,
.row:after,
.row-mini:after {
	clear: both;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* -- float layout --*/
.row {
	margin-left: -$col_gutter;
	margin-right: -$col_gutter;
	
	& > div[class*="col"] {
		padding-left: $col_gutter;
		padding-right: $col_gutter;
	}
}
.col,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	float: left;
	position: relative;
	padding: 0px $col_gutter;
}
@for $a from 1 through 12 {
  .col-#{$a} {
  	width: (100% / 12 * $a);
  }
}
%col-left {
	float: left;
	position: relative;
}
%col-right {
	float: left;
	width: 100%;
}
/* -- inline-blocks layout --*/
.inline-row {
	margin-left: -$col_gutter;
	margin-right: -$col_gutter;
	font-size: 0;
	letter-spacing: 0;

	& > * {
		@include fz($fontsize);
	}
	.span {
		display: inline-block;
		vertical-align: top;
		padding-left: $col_gutter;
		padding-right: $col_gutter;
	}
	&.tight {
		margin-left: -5px;
		margin-right: -5px;

		[class*="span-"] {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}
[class*="span-"] {
	display: inline-block;
	vertical-align: top;
	padding-left: $col_gutter;
	padding-right: $col_gutter;
}
@for $span from 1 through 12 {
  .span-#{$span} {
  	width: (100% / 12 * $span);
  }
}
@for $offset from 1 through 12 {
  .span-offset-#{$offset} {
  	width: (100% / 12 * $offset);
  }
}
%ib {
	display: inline-block;
	vertical-align: middle;
}
%inline-cols {
	font-size: 0;
	letter-spacing: 0;

	& > * {
		@include fz($fontsize);
	}
}
/* -- flex layout --*/
.flex-row {
	@extend %flex;
	margin-left: -$col_gutter;
	margin-right: -$col_gutter;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	&.mini {
		margin-left: -10px;
		margin-right: -10px;

		.flex-row {
			margin-left: -10px;
			margin-right: -10px;
		}

		[class*="flx-"] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&.micro {
		margin-left: -3px;
		margin-right: -3px;

		[class*="flx-"] {
			padding-left: 3px;
			padding-right: 3px;
		}
	}
	&.wide {
		margin-left: -25px;
		margin-right: -25px;

		[class*="flx-"] {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}
@for $i from 1 through 12 {
  .flx-#{$i} {
  	-webkit-flex: (100% / 12 * $i);
  	-moz-flex: (100% / 12 * $i);
  	-ms-flex: (100% / 12 * $i);
  	-o-flex: (100% / 12 * $i);
  	flex: (100% / 12 * $i);
  	max-width: (100% / 12 * $i);
  }
}
.flx {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding-left: $col_gutter;
	padding-right: $col_gutter;
}
[class*="flx-"] {
	padding-left: $col_gutter;
	padding-right: $col_gutter;
}
@for $ord from -3 through 3 {
  .order-#{$ord} {
		-webkit-box-ordinal-group: $ord;
		-webkit-order: $ord;
		-ms-flex-order: $ord;
		order: $ord;
  }
}
.flex,
%flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	display: -ms-flex;
	display: -ms-inline-flexbox;
	display: -ms-flexbox;	
	display: flex;
}
%flc,
.flex-vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
%jsb,
.align-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
%jc,
.align-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-ms-justify-content: center;
	justify-content: center;
}
%jfs,
.align-left {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}
%jfe,
.align-right {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
%aic,
.valign-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-align-items: center;
	align-items: center;
}
%aifs,
.valign-start {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
%aife,
.valign-end {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
%aibsl,
.valign-baseline {
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	-ms-align-items: baseline;
	align-items: baseline;
}
.self-bottom {
	-webkit-align-self: flex-end;
	-ms-align-self: flex-end;
	align-self: flex-end;
}
.self-top {
	-webkit-align-self: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
.self-center {
	-webkit-align-self: center;
	-ms-align-self: center;
	align-self: center;
}
%flg {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
%flw {
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
@mixin order($order) {
	-webkit-box-ordinal-group: $order;
	-webkit-order: $order;
	-ms-flex-order: $order;
	order: $order;
}

@import "../images/sprite/sprite";

@import "ui";

@import "header";

@import "footer";

@import "pages";

@import "popups";

// @import "demo";

@import "responsive";